body,
html {
    font-size: 14px;
    font-family: 'lato';
    font-weight: 200;
}

/*FONT-FAMILY*/

@font-face {
    font-family: 'playfair';
    src: url('../playfair-font/PlayfairDisplay-Regular.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'playfair';
    src: url('../playfair-font/PlayfairDisplay-Bold.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'playfair';
    src: url('../playfair-font/PlayfairDisplay-Black.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-Regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-Semibold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'lato';
    src: url('../lato-font/lato-Black.ttf');
    font-weight: 700;
}

h1 {
    font-family: 'playfair';
    font-weight: 700;
}

h3 {
    font-family: 'playfair';
    font-weight: 400;
}

.logo {
    width: 122px;
    margin-top: 20px;
}

.background {
    background-image: url(../imgs/Layer%2010.png);
    width: 100%;
    height: 170px;
    background-position: 236px 95%;
    background-repeat: no-repeat;
    background-size: 70%;
}

.heading {
    text-align: center;
    padding-top: 40px;

}

.pwr-heading {
    text-align: center;
}

.forest-logo {
    width: 122px;
    margin-top: 20px;
    float: right;
}

.bg-light {
    background-color: #009440 !important;
    width: 100%;
    border-radius: 4px;
}

.navbar {
    padding: 0px 0px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 500;
    padding: 22px 25px;
    transition: .5s;
}

.hover:hover {
    background-color: #007633 !important;
    height: 100%;
    transition: .5s;
}

.pl-220 {
    padding-left: 220px;
}

.banner {
    background-image: url(../imgs/DSC00224.jpg);
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    height: 550px;
    background-position: 100% 88%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-img {
    background: url(../imgs/Layer%205%20copy.png), url(../imgs/layer11.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    height: 65px;
    background-blend-mode: multiply;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-size: 22%;
}


/*bar*/
.bar {
    background-color: #c4931f;
    margin-top: 20px;
    width: 100% !important;
    border-radius: 4px;
}

.monogram {
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*End of Bar*/

/*Card*/
.card {
    border: none !important;
}

.card-color {
    background-color: #009440;
    color: #fff;
    text-align: center;
    font-weight: 400;
    border: none !important;
    transition: .5s;
}

.line {
    background-image: linear-gradient(90deg, transparent, #fdfefe, transparent);
    height: 1px;
    margin: 0px !important;
    border: none !important;
    margin-top: 16px !important;
    opacity: .7;
}

.list-group-item {
    padding-top: 16px !important;
    padding-bottom: 0px !important;
}

.pt-30 {
    padding-top: 15px !important;
}

.pb-10 {
    padding-bottom: 15px !important;
}

.text-decoration {
    text-decoration: none !important;
}

.card-color:hover {
    background-color: #007633 !important;
    transition: .5s;

}

.border {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.border-top {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.mt-20 {
    margin-top: 20px;
    color: #fff;

}

.list-group {
    margin-top: 20px;
}

/*End of card*/

/*Buttons*/
.btn-primary {

    color: #fff;
    background-color: #c4931f !important;
    margin-top: 20px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-lg {
    font-size: 14px !important;
}

.pd-60 {
    padding: 18px 62px !important;
}

.pd-22 {
    padding: 18px 22px !important;
}

/*End of buttons*/

/*Paragraphs*/
.mt-50 {
    margin-top: 50px;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 40px;
}

.w-100 {
    border-radius: 4px;
}

.name {
    color: #000 !important;
    margin-top: 20px;
    font-weight: 600;
    float: right;
}

.green-color {
    color: #009440 !important;
    font-weight: 700;
    margin-left: 5px;
}

.mt-80 {
    margin-top: 80px;
    color: #009440 !important;
}

.dash {
    width: 16px;
    height: 4px;
    background-color: #c4931f !important;
    margin-top: 10px;

}

.text-align {
    text-align: justify;
    margin-top: 20px;
    font-weight: 500;
}

.right-image {
    background-image: url(../imgs/DSC02193%20copy.jpg);
    width: 100%;
    height: 290px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    border-radius: 4px;
}

.mt-40 {
    margin-top: 40px;
}

.left-image {
    background-image: url(../imgs/DSC00224.jpg);
    width: 100%;
    height: 290px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    border-radius: 4px;
}

/*End of paragraphs*/

/*footer*/
.footer {
    background-color: #009440;
}

.list-inline-item {
    color: #fff;
    padding: 26px 0px;
}

.white-color {
    color: #fff;
    padding: 26px 0px;
}

.trees-img {
    width: 100%;
    margin-top: 80px;
}

/*End of footer*/
.hide {
    display: none;
}

/*Owl Carousel*/
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -38px !important;
    position: absolute;
    left: 46%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #009440 !important;
}

.owl-theme .owl-dots .owl-dot {
    outline: none !important;
    box-shadow: none !important;
}

/*End of carousel*/

/*Responsiveness*/

@media(max-width: 1200px) {
    .nav-img {
        background-size: 26%;
    }

    .pl-220 {
        padding-left: 154px;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 22px 22px;
    }

    .background {
        background-position: 110px 100%;
        background-size: 78%;

    }

    .mt-50 {
        padding-left: 33px;
    }

    .ml-33 {
        margin-left: 33px;
        width: 95% !important;
    }

    .mt-80 {
        padding-left: 33px;
    }

    .dash {
        margin-left: 33px;
    }

    .text-align {
        padding-left: 33px;
    }

    .right-image {
        width: 95%;
        margin-left: 33px;

    }

    .left-image {
        width: 95%;
        margin-left: 8px;
    }
}

@media(max-width:1153px) {}

@media(max-width:991px) {
    .logo {
        width: 90px;
    }

    .forest-logo {
        width: 90px;
    }

    .heading {
        font-size: 28px !important;
    }

    .pwr-heading {
        font-size: 28px !important;
    }

    .background {
        height: 130px;
        background-position: 84px 100%;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        margin-right: auto;
        margin-left: auto;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .mt-50 {
        padding-left: 92px;
    }

    .ml-33 {
        margin-left: 92px;
        width: 82% !important;
    }

    .mt-80 {
        padding-left: 92px;
    }

    .dash {
        margin-left: 92px;
    }

    .text-align {
        padding-left: 92px;
    }

    .right-image {
        width: 80%;
        margin-left: 92px;

    }

    .left-image {
        width: 95%;
        margin-left: 6px;
    }


    .navbar {
        padding: 10px 0px !important;
    }

    .nav-img {
        height: auto;
        background-size: 28%;
    }

    .pl-220 {
        padding-left: 0px;
        padding-top: 10px;
    }

    .banner {
        height: 400px;
    }
}

@media(max-width:768px) {


    .heading {
        font-size: 20px !important;
        padding-top: 24px
    }

    .pwr-heading {
        font-size: 20px !important;
    }

    .logo {
        width: 68px;
        margin-top: 12px;
    }

    .forest-logo {
        width: 68px;
        margin-top: 12px
    }

    .background {
        height: 96px;
        background-position: 62px 100%;
    }

    .nav-img {
        background-size: 40%;
    }

    .banner {
        height: 350px;
    }

    .card {
        width: 100% !important;
    }

    .mt-50 {
        padding-left: 0px;
        margin-top: 34px;
    }

    .ml-33 {
        margin-left: 0px;
        width: 100% !important;
    }

    .mt-80 {
        padding-left: 0px;
    }

    .dash {
        margin-left: 0px;
    }

    .text-align {
        padding-left: 0px;
    }

    .right-image {
        width: 100%;
        margin-left: 0px;

    }

    .left-image {
        width: 100%;
        margin-left: 0px;
        margin-top: 44px;
    }

    .white-color {
        text-align: center;
        padding-bottom: 0px;
    }

    .text-right {
        text-align: center !important;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        left: 41%;
    }

    .btn-primary {
        width: 100%;
    }

}

@media(max-width:500px) {
    .background {
        height: 88px;
        background-position: 48px 100%;
    }

    .heading {
        font-size: 18px !important;
    }

    .pwr-heading {
        font-size: 18px !important;
    }

    .logo {
        margin-top: 8px;
    }

    .forest-logo {
        margin-top: 8px;
    }

    .banner {
        height: 250px;
    }

}

@media(max-width:414px) {}

@media(max-width:375px) {}

@media(max-width:320px) {}
